<div class="row ">
    <div class="col-4" style="margin: 0;padding: 0"></div>
    <div class="col-4" style="margin-top: 15%;margin-bottom: 10%">
        <h1 class="text-center">CREATE PRODUCT</h1>
        <form method="post" action="/product/save" enctype="multipart/form-data">
            <div class="form-group mb-3">
                <label for="name">Name</label>
                <input type="text" class="form-control" value="{{product.name}}" name="name" id="name">
            </div>
            <div class="form-group mb-3">
                <label for="price">Price</label>
                <input type="number" class="form-control" value="{{product.price}}" name="price" id="price">
            </div>
            {{#if error.price}}
                <p style="color: red">{{error.price}}</p>
            {{/if}}
            <div class="form-group mb-3">
                <label for="quantity">Quantity</label>
                <input type="text" class="form-control" value="{{product.quantity}}" name="quantity" id="quantity">
            </div>
            {{#if error.quantity}}
                <p style="color: red">{{error.quantity}}</p>
            {{/if}}
            <div class="form-group mb-3">
                <label for="image">Upload</label>
                <input type="file" id="image" name="image" class="form-control">
            </div>

            <div class="form-group">
                <label for="type">Brand</label>
                <select class="form-control" name="brands" id="type">
                    <option value="">--select--</option>
                    {{#each brand}}
                        <option value="{{_id}}">{{name}}</option>
                    {{/each}}
                </select>
            </div>
            <div class="d-flex justify-content-center mt-5">
                <button type="submit" class="btn btn-success">Create</button>
            </div>
        </form>
    </div>
    <div class="col-4" style="margin: 0;padding: 0"></div>
</div>